{% extends "base.html" %}
{% block content %}
<div class="d-flex justify-content-center">
    <form class="mt-5 pt-5" action="" method="post">
      {%csrf_token%}
      <div class="form-group">

           <input class="form-control" type="password" name="old_password" autocomplete="current-password" autofocus required id="id_old_password" placeholder="Старый пароль"></p>
              <input class="form-control" type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1" placeholder="Новый пароль">
               <span class="helptext">
                 <ul><li>Пароль не должен быть слишком похож на другую вашу личную информацию.</li>
                   <li>Ваш пароль должен содержать как минимум 8 символов.</li>
                   <li>Такой пароль часто используется.</li>
                   <li>Пароль не может состоять только из цифр.</li>
               </ul>
             </span></p>
                  <input class="form-control" type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2" placeholder="Подтверждение нового пароля"></p>
                  <div class="text-center">
                    <button class="btn" style="background-color: #8b909e;" type="submit" name="button">Сменить</button>
                  </div>
                </div>
              </form>
            </div>
    {% endblock %}
